# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Logs and temp files
*.log
*.tmp

# Data files (optional)
Data/

# Python egg and distribution files
*.egg-info/
dist/
build/

# Environment variables
.env
